<%
function linkInDiv(url) {
  if (!url) return ''
  return `<div class="url row"><a href="${url}" target="_blank">${fn.noSchemaURL(url)}</a></div>`
}
%>
<%
function formatLocation(loc) {
  const cityToCountry = ['city', 'postalCode', 'region', 'countryCode'].map(key => loc[key]).filter(v => v).join(', ')
  if (!loc.address) return cityToCountry
  return `${loc.address}. ${cityToCountry}`
}
%>
<%
function hasItems(arr) {
  if (arr && arr.length) return true
  return false
}
%>

<%
function dateRange(item, level) {
  let {startDate, endDate} = item
  if (!startDate && !endDate) return ''
  let format
  // level: 1: year, 2: month, 3: day
  switch (level) {
    case 1:
      format = 'YYYY'
      break;
    case 2:
      format = 'MMM YYYY'
      break;
  }
  if (format) {
    startDate = startDate ? fn.reformatDate(startDate, format) : ''
    endDate = endDate ? fn.reformatDate(endDate, format) : ''
  }
  let result = ''
  if (startDate && endDate) {
    result = `${startDate} – ${endDate}`
  } else if (startDate) {
    result = `${startDate} – Present`
  } else if (endDate) {
    result = `Until ${endDate}`
  }
  return `<div class="date-range">${result}</div>`
}
%>

<%
function date(item, level) {
  let {date} = item
  if (!date) return ''
  let format
  // level: 1: year, 2: month, 3: day
  switch (level) {
    case 1:
      format = 'YYYY'
      break;
    case 2:
      format = 'MMM YYYY'
      break;
  }
  if (format) {
    date = date ? fn.reformatDate(date, format) : ''
  }
  return `<div class="date-range">${date}</div>`
}
%>

<!-- Basics -->
<section class="basics-section">
  <h1><%= cv.basics.name %></h1>
  <% if (cv.basics.label) { %>
    <div class="label row subtitle"><%= cv.basics.label %></div>
  <% } %>
  <% if (cv.basics.url) { %>
    <div class="url row">
      <%- fn.getIconSVG('mdi:link-variant') %>
      <a href="<%= cv.basics.url %>" target="_blank"><%= fn.noSchemaURL(cv.basics.url) %></a>
    </div>
  <% } %>
  <% if (cv.basics.summary) { %>
    <div class="summary p"><%- fn.renderMarkdown(cv.basics.summary) %></div>
  <% } %>
  <div class="contact row">
    <% if (cv.basics.email) { %>
      <div class="item">
        <%- fn.getIconSVG('mdi:email') %>
        <span><a href="mailto:<%= cv.basics.email %>"><%= cv.basics.email %></a></span>
      </div>
    <% } %>
    <% if (cv.basics.phone) { %>
      <div class="item">
        <%- fn.getIconSVG('mdi:phone') %>
        <span><%= cv.basics.phone %></span>
      </div>
    <% } %>
    <% if (cv.basics.location) { %>
      <div class="item">
        <%- fn.getIconSVG('mdi:location') %>
        <span><%= formatLocation(cv.basics.location) %></span>
      </div>
    <% } %>
  </div>
</section>



<!-- Educations -->
<% if (hasItems(cv.education)) { %>
<section class="education-section">
  <div class="section-title">
    <h2>Education</h2>
    <div class="line"></div>
  </div>
  <% for (const item of cv.education) { %>
    <div class="education section-item">
      <div class="row space-between">
        <h3><%= item.institution %></h3>
        <%- linkInDiv(item.url) %>
      </div>
      <div class="row space-between">
        <div class="study subtitle">
          <%= item.studyType %> <%= item.area %>
        </div>
        <%- dateRange(item, 2) %>
      </div>
      <% if (item.score) { %><div class="score row">Overall GPA: <%= item.score %></div><% } %>
      <% if (item.courses && item.courses.length > 0) { %>
        <div class="courses row">
          Courses: <%= item.courses.join('; ') %>
        </div>
      <% } %>
    </div>
  <% } %>
</section>
<% } %>

<!-- Work -->
<% if (hasItems(cv.work)) { %>
<section class="work-section">
  <div class="section-title">
    <h2>Work</h2>
    <div class="line"></div>
  </div>
  <% for (const item of cv.work) { %>
    <div class="work section-item">
      <% if (item.name !== (cv.work[cv.work.indexOf(item) - 1] || {}).name) { %>
      <div class="row space-between">
        <h3><%= item.name %></h3>
        <%- linkInDiv(item.url) %>
      </div>
      <% } %>
      <div class="row space-between">
        <div class="position subtitle"><%= item.position %></div>
        <%- dateRange(item, 2) %>
      </div>
      <div class="summary p"><%- fn.renderMarkdown(item.summary) %></div>
      <% if (item.highlights && item.highlights.length > 0) { %>
        <div class="highlights row">
          <ul>
          <% for (const hl of item.highlights) { %>
            <li><%- fn.renderMarkdown(hl, true) %></li>
          <% } %>
          </ul>
        </div>
      <% } %>
    </div>
  <% } %>
</section>
<% } %>

<!-- Projects -->
<% if (hasItems(cv.projects)) { %>
<section class="projects-section">
  <div class="section-title">
    <h2>Projects</h2>
    <div class="line"></div>
  </div>
  <% for (const item of cv.projects) { %>
    <div class="project section-item">
      <div class="row space-between">
        <h3><%= item.name %></h3>
        <%- linkInDiv(item.url) %>
      </div>
      <div class="row space-between">
        <% if (item.roles && item.roles.length > 0) { %>
          <div class="roles subtitle"><%= item.roles.join(', ') %></div>
        <% } %>
        <%- dateRange(item, 2) %>
      </div>
      <div class="row _text-dim"><%- fn.renderMarkdown(item.description, true) %></div>
      <% if (item.highlights && item.highlights.length > 0) { %>
        <% if (item.highlights.length === 1) { %>
          <div class="highlights p"><%- fn.renderMarkdown(item.highlights[0], true) %></div>
        <% } else { %>
          <div class="highlights row">
            <ul>
            <% for (const hl of item.highlights) { %>
              <li><%- fn.renderMarkdown(hl, true) %></li>
            <% } %>
            </ul>
          </div>
        <% } %>
      <% } %>
      <div class="keywords row">
        <% for (const kw of item.keywords) { %>
          <span class="item"><%= kw %></span>
        <% } %>
      </div>
    </div>
  <% } %>
</section>
<% } %>

<!-- Side-projects -->
<% if (hasItems(cv.sideProjects)) { %>
<section class="sideprojects-section">
  <div class="section-title">
    <h2>Side-projects</h2>
    <div class="line"></div>
  </div>
  <div class="two-columns">
  <% for (const item of cv.sideProjects) { %>
    <div class="sideproject section-item">
      <div class="space-between">
        <h3><%= item.name %></h3>
      </div>
      <% if (item.url) { %>
        <div class="url row">
          <%- fn.getIconSVG('mdi:link-variant') %>
          <a href="<%= item.url %>" target="_blank"><%= fn.noSchemaURL(item.url) %></a>
        </div>
      <% } %>
      <div class="description"><%- fn.renderMarkdown(item.description) %></div>
      <% if (item.keywords && item.keywords.length > 0) { %>
        <div class="keywords row">
          <% for (const kw of item.keywords) { %>
            <span class="item"><%= kw %></span>
          <% } %>
        </div>
      <% } %>
    </div>
  <% } %>
  </div>
</section>
<% } %>

<!-- Skills -->
<% if (hasItems(cv.skills)) { %>
<section class="skills-section">
  <div class="section-title">
    <h2>Skills</h2>
    <div class="line"></div>
  </div>
  <div class="two-columns">
  <% for (const item of cv.skills) { %>
    <div class="skill section-item">
      <h3><%= item.name %></h3>
      <div class="level row subtitle"><%= item.level %></div>
      <% if (item.summary) { %>
        <div class="summary p"><%- fn.renderMarkdown(item.summary) %></div>
      <% } %>
      <% if (item.keywords && item.keywords.length > 0) { %>
        <div class="keywords">
          <% for (const kw of item.keywords) { %>
            <span class="item"><%= kw %></span>
          <% } %>
        </div>
      <% } %>
    </div>
  <% } %>
  </div>
</section>
<% } %>

<!-- Languages -->
<% if (hasItems(cv.languages)) { %>
<section class="languages-section page-unit">
  <div class="section-title">
    <h2>Languages</h2>
    <div class="line"></div>
  </div>
  <% for (const item of cv.languages) { %>
    <div class="language section-item">
      <h3><%= item.language %></h3>
      <div class="fluency row subtitle"><%= item.fluency %></div>
      <% if (item.summary) { %>
        <div class="summary p"><%- fn.renderMarkdown(item.summary) %></div>
      <% } %>
    </div>
  <% } %>
</section>
<% } %>


<!-- Awards -->
<% if (hasItems(cv.awards)) { %>
<section class="awards-section">
  <div class="section-title">
    <h2>Awards</h2>
    <div class="line"></div>
  </div>
  <% for (const item of cv.awards) { %>
    <div class="award section-item">
      <div class="row space-between">
        <h3><%= item.title %></h3>
        <%- date(item, 2) %>
      </div>
      <div class="awarder row subtitle"><%= item.awarder %></div>
      <% if (item.summary) { %>
        <div class="summary p"><%- fn.renderMarkdown(item.summary) %></div>
      <% } %>
    </div>
  <% } %>
</section>
<% } %>

<!-- Certificates -->
<% if (hasItems(cv.certificates)) { %>
<section class="certificates-section">
  <div class="section-title">
    <h2>Certificates</h2>
    <div class="line"></div>
  </div>
  <% for (const item of cv.certificates) { %>
    <div class="certificate section-item">
      <div class="row space-between">
        <h3><%= item.name %></h3>
        <%- date(item, 2) %>
      </div>
      <div class="fluency row subtitle"><%= item.issuer %></div>
      <%- linkInDiv(item.url) %>
    </div>
  <% } %>
</section>
<% } %>

<!-- Volunteer -->
<% if (hasItems(cv.volunteer)) { %>
<section class="volunteer-section">
  <div class="section-title">
    <h2>Volunteer</h2>
    <div class="line"></div>
  </div>
  <% for (const item of cv.volunteer) { %>
    <div class="volunteer section-item">
      <div class="row space-between">
        <h3><%= item.organization %></h3>
        <%- linkInDiv(item.url) %>
      </div>
      <div class="row space-between">
        <div class="position subtitle"><%= item.position %></div>
        <%- dateRange(item, 2) %>
      </div>
      <div class="summary p"><%- fn.renderMarkdown(item.summary) %></div>
      <% if (item.highlights && item.highlights.length > 0) { %>
        <div class="highlights row">
          <ul>
          <% for (const hl of item.highlights) { %>
            <li><%- fn.renderMarkdown(hl, true) %></li>
          <% } %>
          </ul>
        </div>
      <% } %>
    </div>
  <% } %>
</section>
<% } %>


<!-- Publications -->
<% if (hasItems(cv.publications)) { %>
<section class="publications-section">
  <div class="section-title">
    <h2>Publications</h2>
    <div class="line"></div>
  </div>
  <% for (const item of cv.publications) { %>
    <div class="publication section-item">
      <div class="row space-between">
        <h3><%= item.name %></h3>
        <%- date(item, 2) %>
      </div>
      <div class="publisher row subtitle"><%= item.publisher %></div>
      <%- linkInDiv(item.url) %>
      <% if (item.summary) { %>
        <div class="summary p"><%- fn.renderMarkdown(item.summary) %></div>
      <% } %>
    </div>
  <% } %>
</section>
<% } %>

<!-- References -->
<% if (hasItems(cv.references)) { %>
<section class="references-section">
  <div class="section-title">
    <h2>References</h2>
    <div class="line"></div>
  </div>
  <% for (const item of cv.references) { %>
    <div class="reference section-item">
      <div class="row space-between">
        <h3><%= item.name %></h3>
        <div class="relationship subtitle"><%= item.relationship %></div>
      </div>
      <div class="row _text-dim"><%- fn.renderMarkdown(item.reference, true) %></div>
    </div>
  <% } %>
</section>
<% } %>

<!-- Interests -->
<% if (hasItems(cv.interests)) { %>
<section class="interests-section">
  <div class="section-title">
    <h2>Interests</h2>
    <div class="line"></div>
  </div>
  <div class="two-columns">
  <% for (const item of cv.interests) { %>
    <div class="interest section-item">
      <h3><%= item.name %></h3>
      <% if (item.keywords && item.keywords.length > 0) { %>
        <div class="keywords">
          <% for (const kw of item.keywords) { %>
            <span class="item"><%= kw %></span>
          <% } %>
        </div>
      <% } %>
    </div>
    <% } %>
  </div>
</section>
<% } %>

<!-- meta -->
<% if (cv.meta) { %>
<footer>
  <% if (cv.meta.version) { %>
    <div class="version">Version: <%= cv.meta.version %></div>
  <% } %>
  <% if (cv.meta.lastModified) { %>
    <div class="version">Last modified: <%= cv.meta.lastModified.slice(0, 10) %></div>
  <% } %>
</footer>
<% } %>
