<!-- Basics -->
<section class="basics-section">
  <h1><%= cv.basics.name %></h1>
  <% if (cv.basics.label) { %>
    <div class="label"><%= cv.basics.label %></div>
  <% } %>
  <% if (cv.basics.url) { %>
    <div class="url">
      <a href="<%= cv.basics.url %>"><%= fn.urlNoSchema(cv.basics.url) %></a></div>
  <% } %>
  <% if (cv.basics.summary) { %>
    <div class="summary"><%= cv.basics.summary %></div>
  <% } %>
  <div class="contact">
    <% if (cv.basics.email) { %>
      <div class="item">
        <%- fn.getIconSVG('mdi:email') %>
        <span><a href="mailto:<%= cv.basics.email %>"><%= cv.basics.email %></a></span>
      </div>
    <% } %>
    <% if (cv.basics.phone) { %>
      <div class="item">
        <%- fn.getIconSVG('mdi:phone') %>
        <span><%= cv.basics.phone %></span>
      </div>
    <% } %>
    <% if (cv.basics.location) { %>
      <div class="item">
        <%- fn.getIconSVG('mdi:location') %>
        <span><%= cv.basics.location.city %>, <%= cv.basics.location.countryCode %></span>
      </div>
    <% } %>
  </div>
</section>

<%
function dateRange(item, preserveDay) {
  let {startDate, endDate} = item
  if (!startDate && !endDate) return ''
  if (!preserveDay) {
    const format = 'YYYY-MM'
    startDate = fn.reformatDate(startDate, format)
    endDate = fn.reformatDate(endDate, format)
  }
  return `<p>${startDate}~${endDate}</p>`
}
%>

<!-- Educations -->
<% if (cv.education) { %>
<section>
  <div class="section-title">
    <h2>Educations</h2>
    <div class="line"></div>
  </div>
  <% for (const item of cv.education) { %>
    <div class="education page-unit">
      <h3><%= item.institution %></h3>
      <p><%= item.url %></p>
      <p><%= item.area %></p>
      <p><%= item.score %></p>
      <%- dateRange(item) %>
    </div>
  <% } %>
</section>
<% } %>

<!-- Work -->
<% if (cv.work) { %>
<section>
  <div class="section-title">
    <h2>Work</h2>
    <div class="line"></div>
  </div>
  <% for (const item of cv.work) { %>
    <div class="work page-unit">
      <h3><%= item.name %></h3>
      <p><%= item.url %></p>
      <%- dateRange(item) %>
      <p><%= item.position %></p>
      <div class="summary"><%= item.summary %></div>
      <div class="highlights">
        <% for (const hl of item.highlights) { %>
          <div class="item"><%= hl %></div>
        <% } %>
      </div>
    </div>
  <% } %>
</section>
<% } %>

<!-- Projects -->
<% if (cv.projects) { %>
<section>
  <div class="section-title">
    <h2>Projects</h2>
    <div class="line"></div>
  </div>
  <% for (const item of cv.projects) { %>
    <div class="project page-unit">
      <h3><%= item.name %></h3>
      <p><%= item.url %></p>
      <p><%= item.description %></p>
      <%- dateRange(item) %>
      <div class="highlights">
        <% for (const hl of item.highlights) { %>
          <div class="item"><%= hl %></div>
        <% } %>
      </div>
      <div class="keywords">
        <% for (const kw of item.keywords) { %>
          <span class="item"><%= kw %></span>
        <% } %>
      </div>
    </div>
  <% } %>
</section>
<% } %>

<!-- Side-projects -->
<% if (cv.sideProjects) { %>
<section>
  <div class="section-title">
    <h2>Side-projects</h2>
    <div class="line"></div>
  </div>
  <% for (const item of cv.sideProjects) { %>
    <div class="sideproject page-unit">
      <h3><%= item.name %></h3>
      <p><%= item.url %></p>
      <p><%= item.description %></p>
      <%- dateRange(item) %>
      <div class="keywords">
        <% for (const kw of item.keywords) { %>
          <span class="item"><%= kw %></span>
        <% } %>
      </div>
    </div>
  <% } %>
</section>
<% } %>

<!-- Skills -->
<% if (cv.skills) { %>
<section>
  <div class="section-title">
    <h2>Skills</h2>
    <div class="line"></div>
  </div>
  <% for (const item of cv.skills) { %>
    <div class="skill">
      <h3><%= item.name %></h3>
      <div class="level"><%= item.level %></div>
      <div class="keywords">
        <% for (const kw of item.keywords) { %>
          <span class="item"><%= kw %></span>
        <% } %>
      </div>
    </div>
  <% } %>
</section>
<% } %>

<!-- Languages -->
<% if (cv.languages) { %>
<section class="page-unit">
  <div class="section-title">
    <h2>Languages</h2>
    <div class="line"></div>
  </div>
  <% for (const item of cv.languages) { %>
    <div class="language">
      <h3><%= item.language %></h3>
      <div class="fluency"><%= item.fluency %></div>
    </div>
  <% } %>
</section>
<% } %>
