<!-- Basics -->
<h1><%= cv.basics.name %></h1>
<p><%= cv.basics.summary %></p>
<div class="contact">
  <%= cv.basics.email %> | <%= cv.basics.phone %>
</div>

<%
function dateRange(item, preserveDay) {
  let {startDate, endDate} = item
  if (!startDate && !endDate) return ''
  if (!preserveDay) {
    const format = 'YYYY-MM'
    startDate = fn.reformatDate(startDate, format)
    endDate = fn.reformatDate(endDate, format)
  }
  return `<p>${startDate}~${endDate}</p>`
}
%>

<!-- Educations -->
<% if (cv.education) { %>
<section>
  <h2>Educations</h2>
  <% for (const item of cv.education) { %>
    <div class="education">
      <h3><%= item.institution %></h3>
      <p><%= item.url %></p>
      <p><%= item.area %></p>
      <p><%= item.score %></p>
      <%- dateRange(item) %>
    </div>
  <% } %>
</section>
<% } %>

<!-- Work -->
<% if (cv.work) { %>
<section>
  <h2>Work</h2>
  <% for (const item of cv.work) { %>
    <div class="work">
      <h3><%= item.name %></h3>
      <p><%= item.url %></p>
      <%- dateRange(item) %>
      <p><%= item.position %></p>
      <div class="summary"><%= item.summary %></div>
      <div class="highlights">
        <% for (const hl of item.highlights) { %>
          <div class="item"><%= hl %></div>
        <% } %>
      </div>
    </div>
  <% } %>
</section>
<% } %>

<!-- Projects -->
<% if (cv.projects) { %>
<section>
  <h2>Projects</h2>
  <% for (const item of cv.projects) { %>
    <div class="project">
      <h3><%= item.name %></h3>
      <p><%= item.url %></p>
      <p><%= item.description %></p>
      <%- dateRange(item) %>
      <div class="highlights">
        <% for (const hl of item.highlights) { %>
          <div class="item"><%= hl %></div>
        <% } %>
      </div>
      <div class="keywords">
        <% for (const kw of item.keywords) { %>
          <span class="item"><%= kw %></span>
        <% } %>
      </div>
    </div>
  <% } %>
</section>
<% } %>

<!-- Side-projects -->
<% if (cv.sideProjects) { %>
<section>
  <h2>Side-projects</h2>
  <% for (const item of cv.sideProjects) { %>
    <div class="sideproject">
      <h3><%= item.name %></h3>
      <p><%= item.url %></p>
      <p><%= item.description %></p>
      <%- dateRange(item) %>
      <div class="keywords">
        <% for (const kw of item.keywords) { %>
          <span class="item"><%= kw %></span>
        <% } %>
      </div>
    </div>
  <% } %>
</section>
<% } %>

<!-- Skills -->
<% if (cv.skills) { %>
<section>
  <h2>Skills</h2>
  <% for (const item of cv.skills) { %>
    <div class="skill">
      <h3><%= item.name %></h3>
      <div class="level"><%= item.level %></div>
      <div class="keywords">
        <% for (const kw of item.keywords) { %>
          <span class="item"><%= kw %></span>
        <% } %>
      </div>
    </div>
  <% } %>
</section>
<% } %>

<!-- Languages -->
<% if (cv.languages) { %>
<section>
  <h2>Languages</h2>
  <% for (const item of cv.languages) { %>
    <div class="language">
      <h3><%= item.language %></h3>
      <div class="fluency"><%= item.fluency %></div>
    </div>
  <% } %>
</section>
<% } %>
